html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box;
  font-weight: 300; }

body {
  margin: 0;
  background: #222328; }

#app {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #222328; }
  #app::after {
    clear: both;
    content: "";
    display: table; }
  #app .background-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background-image: url("../img/i40.jpg");
    background-size: 100% auto;
    background-position: 0 -200px;
    height: 100vh;
    position: fixed; }
    #app .background-image:last-child {
      margin-right: 0; }
  #app .main-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    position: relative;
    top: 100px;
    color: #fff;
    text-align: center; }
    #app .main-content:last-child {
      margin-right: 0; }
    #app .main-content h1 {
      font-family: 'Trirong', serif;
      font-size: 72px;
      margin-bottom: 0px; }
    #app .main-content .smaller-font {
      font-size: 54px; }
    #app .main-content h2,
    #app .main-content a {
      font-family: 'Roboto', sans-serif;
      font-weight: 200; }
    #app .main-content h2 {
      margin-bottom: 48px;
      font-size: 28px; }
    #app .main-content a {
      text-decoration: none;
      color: #fff;
      font-size: 20px; }
      #app .main-content a:hover {
        transition: all 0.35s;
        color: #DCB66F; }
      #app .main-content a i {
        font-size: 24px; }
  #app footer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-bottom: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 14px; }
    #app footer:last-child {
      margin-right: 0; }

@media screen and (max-width: 1550px) {
  #app .background-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background-image: url("../img/i40.jpg");
    background-size: 100% auto;
    background-position: none; }
    #app .background-image:last-child {
      margin-right: 0; }
  #app .main-content {
    top: 75px; } }

@media screen and (max-width: 1495px) {
  #app .background-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background-image: url("../img/i40.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0; }
    #app .background-image:last-child {
      margin-right: 0; } }

@media screen and (max-width: 1070px) {
  #app .main-content {
    top: 50px; } }

@media screen and (max-width: 767px) {
  #app .main-content {
    top: 334px; } }

@media screen and (max-width: 414px) {
  #app .main-content {
    top: 450px; } }
