@import "../../dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../../dist/bower_components/neat/app/assets/stylesheets/_neat.scss";

$white: #fff;
$yellow: #DCB66F;
$dark-gray: #222328;

* {
  box-sizing: border-box;
  font-weight: 300;
}

body{
  margin: 0;
  background: $dark-gray;
}

#app{
  @include outer-container(100%);
  background: $dark-gray;


  .background-image{
    @include span-columns(12);
    background-image: url("../img/i40.jpg");
    background-size: 100% auto;
    background-position: 0 -200px;
    height: 100vh;
    position: fixed;
  }

  .main-content{
    @include span-columns(12);
    position: relative;
    top: 100px;
    color: $white;
    text-align: center;

    h1{
      font-family: 'Trirong', serif;
      font-size: 72px;
      margin-bottom: 0px;
    }

    .smaller-font{
      font-size: 54px;
    }

    h2,
    a{
      font-family: 'Roboto', sans-serif;
      font-weight: 200;
    }

    h2{
      margin-bottom: 48px;
      font-size: 28px;
    }

    a{
      text-decoration: none;
      color: $white;
      font-size: 20px;

      &:hover{
        transition: all 0.35s;
        color: $yellow;
      }

      i{
        font-size: 24px;
      }
    }
  }

  footer{
    @include span-columns(12);
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-bottom: 20px;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 14px;
  }
}

@media screen and (max-width: 1550px){
  #app{
    .background-image{
      @include span-columns(12);
      background-image: url("../img/i40.jpg");
      background-size: 100% auto;
      background-position: none;
    }

    .main-content{
      top: 75px;
    }
  }
}

@media screen and (max-width: 1495px){
  #app{
    .background-image{
      @include span-columns(12);
      background-image: url("../img/i40.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0;
    }
  }
}

@media screen and (max-width: 1070px){
  #app{
    .main-content{
      top: 50px;
    }
  }
}

@media screen and (max-device-width: 768px){
  #app{
    .main-content{
      top: 334px;
    }
  }
}

@media screen and (max-device-width: 414px){
  #app{
    .main-content{
      top: 450px;

      h1{
        font-size: 76px;
      }

      .smaller-font{
        font-size: 60px;
      }

      h2{
        font-size: 44px;
      }

      a{
        font-size: 36px;

        i{
          font-size: 40px;
        }
      }
    }

    footer{
      font-size: 20px;
    }
  }
}
